{erl_opts, [debug_info]}.
{plugins, [
  {rebar3_lint,
   {git, "https://github.com/project-fifo/rebar3_lint.git",
    {tag, "0.1.4"}}
  }
]}.
{deps, [
  {confirmator,
    {git, "https://github.com/hachreak/confirmator.git", {branch, master}}},
  {mongopool,
    {git, "https://github.com/hachreak/mongopool.git", {branch, master}}}
]}.
